.fav-button {
    background-color: #A38FDB;
    border: none;
    width: 154px;
    height: 40px;
    border-radius: 20px;
}

.collection-button {
    color: #fff;
    background-color: transparent;
    border: 3px solid #A38FDB;
    width: 154px;
    height: 40px;
    border-radius: 20px;
}